@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-start{
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    transition: color 0.5s ease-in-out 0s;

  }
  button .btn-start:hover{
    transition: color 0.5s ease-in-out 0s;

  }

